<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>System Login</title>

   <!-- css of the site -->
    {% load staticfiles%}

      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">

  </head>
  <body>
  <!-- Code for sign in page-->
  <form action="login" method="post" class="login-form">
      {% csrf_token %}
         <input type="email" class="txtb" name="t1" placeholder="Email-Id"  ><br>
         <input type="password" class="txtb"  name="t2" placeholder="Password"  ><br>
          <input type="submit" class="logbtn"  value="LogIn">
          <div class="bottom-text">
              Create An Account<a href="/register">Signup</a>
          </div>
          <div class="bottom-text">
              forgot password<a href="account/password_reset/">Reset</a>
          </div>

  </form>
  <script src="{% static 'js/login_boot.js'%}"></script>


  </body>
</html>